*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.ACTs_aticles{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
   }
   .image_Aticle{
    width: 100%;
    height: 250px;
    object-fit: cover;
   }

   .article_of_Acts{ 
    background-color: rgb(235, 244, 245);
    padding: 10px; 
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 10px; 
   }
   /* || changing the size of the icon */
   .fa-solid{
    font-size: 30px;
   }
   /* || modifying the links of all emergencies */
   .links_Arcts{
    text-decoration: none;
    color: rgb(246, 250, 248);
    font-size: 20px;
    font-weight: 400;
    min-width: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding:10px ;
    border-radius: 10px;
    background-color: #2d6dcc;
    transition: all .4s ease;

   }
   .links_Arcts:hover{
    background-color: #5b8ad1;
    color: rgb(216, 210, 210);
   }
   p{
    font-size: 20px;
    width: 100%;
    padding: 20px 3px 3px 3px;
    min-height: 10rem;
    background-color:inherit;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }